.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.form-account{
  height: 100vh;
}
/*Home*/
.fondo-home{
  background-image: url('./assets/images/weather9.jpeg');
  background-size: cover;
}

.home-title{
  color: #fff;
  font-size: 4rem;
  text-align: center;
  padding: 1rem;
}

.username{
  font-size: 1rem;
  color: #f50057;
  text-align: right;
  padding: 0.5rem;

}

.board-button-container{
  text-align: right;
  margin: 1rem;
}

.board-button{
  padding: 0.7rem 1rem;
  background-color: #f50057;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 3px;

}

.user-button-container{
  text-align: center;
  margin: 1rem;
}

.user-button{
  padding: 0.7rem 1rem;
  background-color: #f50057;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  width: 60%;

}

.location-title{
  color: #cfd8dc;
  font-size: 2.7rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.MuiAppBar-colorPrimary-10{
  background-color: transparent !important
}
.MuiList-padding-5{
  padding: 0 !important
}

.weather-temperature{
 text-align: center;
 color: #fff;
}
.weather-extrainfo{
  margin:auto 0 !important;
  color: #fff;
}

.style-temperature{
  font-size: 1.5rem;
  margin-top: 10px;
}

/*FORECAST*/

.title-extendido{
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform:uppercase;
}
.city-extendido{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #f50057;
  margin-bottom: 2rem;
}
.button-delete{
  text-align: right;
  margin: auto 0;
}
button.MuiButtonBase-root-137.MuiIconButton-root-131.WeatherLocation-button-129{
    color: #fff !important;
}
.MuiGrid-item-2.MuiGrid-grid-xs-3-30.button-delete{
  margin: auto 0;
  color: #fff;
}
.MuiGrid-item-2.MuiGrid-grid-xs-4-31.date-weather {
  margin: auto 0;
}
.forecast-container{

}
.weather-data-container{
  margin: 15px 0;
}
.date-weather{
  vertical-align: middle;
}
.dia-weather{
  font-size: 1rem;
  font-weight: 400;

}
.weather-extrainfo{
  text-align: right;
}
hr.MuiDivider-root-153.line-divider{
  background-color: #fff !important;
}
